<%= render partial: "errors", locals: {museum: @museum} %>
<h1>
    <strong>Museum Name:</strong>
    <%= @museum.name %>
</h1>
<p>
    <strong>Location:</strong>
    <%= @museum.location %>
</p>

<% if @museum.user == current_user %>
    <%= link_to "Back", museums_path %>
    <%= link_to "Edit Museum", edit_museum_path(@museum) %>
    <%= link_to("Delete Museum", museum_path(@museum), data: {method: :delete, confirm: "Are you sure you want to delete this museum?"}) %>
<% end %>


<p>Reviews:</p>
<% @museum.reviews.highest_rated.each do |review| %>
        <ul>
            <li>Date of Visit: <%= review.date_visited %></li>
            <li>Review: <%= review.content %></li>
            <li>Rating: <%= review.rating %></li>
        </ul>
    <% if review.user == current_user %>
        <%= link_to "Edit Review", edit_review_path(review) %>
        <%= link_to "Delete Review", review_path(review), data: {method: :delete, confirm: "Are you sure you want to delete this review?"} %>
    <% end %>
<% end %>
<p>
<%= link_to "New Review", new_museum_review_path(@museum) %>
</p>