<h2><%= "#{@museum.name} #{@museum.location}" %></h2>

<p><h3>Reviews:</h3></p>
<% @museum.reviews.each do |review| %>
    <% if review.user.username.present? %>
        <%= review.user.username %>
        <ul>
            <li> <%= review.date_visited %></li>
            <li> <%= review.content %></li>
            <li> <%= review.rating %></li>
        </ul>
    <% else %>
        <%= review.user.name %>
    <p>Date of visit:<%= review.date_visited %></p>
    <p>Review:<%= review.content %></p>
    <p>Rating:<%= review.rating %></p>
    <%= link_to "Edit Review", edit_museum_review_path(@review) %>
<% end %>
<p>
<%= link_to "New Review", new_museum_review_path(@museum) %>
</p>
<p>
<%= link_to "Edit Museum", edit_museum_path(@museum) %>
<p>
<%= link_to("Delete Museum", museum_path(@museum), data: {method: :delete, confirm: "Are you sure you want to delete this museum?"}) %>
</p>